.TodoTemplate {
    // 테두리 영역의 가로 넓이
    width: 512px;
    // width가 주어진 상태에서 좌우 중앙 정렬

    // 요소의 왼쪽에 바깥 여백 영역
    margin-left: auto;
    // 요소의 오른쪽에 바깥 여백 영역
    margin-right: auto;
    // 요소의 위쪽에 바깥 여백 영역
    margin-top: 6rem;
    // 요소의 테두리 경계지점의 꼭짓점을 둥글게 만든다.
    border-radius: 4px;
    // 요소의 콘텐츠가 너무 커서 요소의 블록에 맞출수 없을때 처리하는 법
    // hidden : 콘텐츠를 안쪽 여백 상자에 맞추기 위해 잘라낸다. 스크롤바는 제공하지 않지만 코드를 사용해 스크롤 할수는 있다.
    overflow: hidden;

    .app-title {
        // 색상 이미지 원점 크기 반복 등 여러 배경 스타일을 한 번에 지정한다.
        background: #22b8cf;
        // 요소의 글씨 및 글씨 장식의 색을 지정한다.
        color: white;
        // 테두리 영역의 세로 넓이
        height: 4rem;
        // 글씨 크기
        font-size: 1.5rem;
        // 요소를 블록과 인라인 요소 중 어느 쪽으로 처리할지와 자식요소를 배치할 때 사용할 레이아웃을 설정한다.
        // flex: 요소는 블록 요소처럼 동작하며 플렉스 박스 모델에 따라 콘텐츠를 레이아웃 한다.
        display: flex;
        // 모든 직계 자식의 값을 그룹으로 설정하고 정렬을 제어한다.
        // center :  플렉스 항목의 여백 상자는 교차 축의 선 중앙에 있으며 항목의 교차 크기가 플렉스 컨테이너보다 크면 양방향으로 동일하게 오버플로 된다.
        align-items: center;
        // 브라우저가 플렉스 컨테이너의 기본 축 과 그리드 컨테이너의 인라인 축을 justify-content따라 콘텐츠 항목 사이와 주위에 공간을 분배하는 방법을 정의한다.
        // center : 항목은 주축을 따라 정렬 컨테이너의 중심을 향해 서로 같은 높이로 포장된다.
        justify-content: center;
    }
    .content {
        // 색상 이미지 원점 크기 반복 등 여러 배경 스타일을 한 번에 지정한다.
        background: white;
    }
}
