.TodoList {
    // 최소 세로 값
    min-height: 320px;
    // 최대 세로 값
    max-height: 513px;
    // 콘텐츠가 블록 수준 요소의 위쪽 및 아래쪽 가장자리를 오버플로할 때 표시되는 내용을 설정한다.
    // auto : 내용이 패딩 상자 안에 들어맞으면 상관이 없지만 콘텐츠가 넘칠 경우 데스크톱 브라우저는 스크롤바를 제공한다.
    overflow-y: auto;
}
